code {
  font-family: "Roboto Mono";
}

.main-container {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  margin-top: 156.979px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.container {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: minmax(269px, 1fr) minmax(752px, 1200px) minmax(
      160px,
      1fr
    );
  grid-template-rows: 1fr;
  position: relative;
  width: 100%;
}

.article-content {
  align-self: start;
  grid-column: 2;
  display: block;
  position: relative;
  grid-row: 1;
  margin: 24px 0;
  max-width: 1200px;
  min-width: 0;
}

.article {
  border: 1px solid #dadce0;
  background: #fff;
  border-radius: 8px;
  padding: 40px;
}

.article-body {
  margin-top: 16px;
  line-height: 24px;
}

.article-title {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 40px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #000;
  letter-spacing: -0.5px;
  margin-inline-end: 83px;
  vertical-align: middle;
}

.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-body h2 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin: 56px 0 16px;
}

.article-body h3 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 32px 0 16px;
}

.article-body h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 32px -40px 16px 0;
  padding-right: 40px;
}

.article-body p {
  color: #202124;
  font-size: 15px;
  line-height: 24px;
  margin: 16px 0;
}

.article-body > p:first-child {
  margin-bottom: 28px;
}

.article-body ul {
  margin: 0;
  padding-left: 40px;
  list-style: disc outside;
}

.article-body ol {
  padding-left: 40px;
  list-style: decimal outside;
}

.article-body ul li,
.article-body ol li {
  margin: 12px 0;
  line-height: 20px;
  font-size: 15px;
  color: #202124;
}

.article-body strong {
  font-weight: 700;
}

.article-body img {
  height: auto;
  max-width: 100%;
}

.article-body a {
  color: #1769e0;
  word-break: break-all;
  text-decoration: none;
  outline: none;
}

.article-body a.external::after {
  font: normal normal normal 24px/1 Material Icons;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  content: "open_in_new";
  font-size: 18px;
  margin-block: 0;
  margin-inline: 4px 0;
  vertical-align: text-bottom;
}

.article-body pre {
  background: #f8f9fa;
  color: #37474f;
  padding: 24px;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  text-align: left;
  direction: ltr;
  overflow-x: auto;
  position: relative;
}

/* .article-body pre code {
    font-size: 15px;
    background: #f8f9fa;
    font-family: "Roboto Mono", monospace;
    overflow-x: unset;
    padding: 0 !important;
  }*/

.article-body pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.article-body pre::-webkit-scrollbar-thumb {
  background: #d4d7d9;
  border-radius: 8px;
}

.doc-note {
  display: block;
  font-size: 14px;
  border-radius: 4px;
  margin: 32px 0;
  color: #01579b;
  background: #e1f5fe;
  padding: 16px 24px 16px 60px;
}

.doc-note p,
.doc-note ul,
.doc-note li,
.doc-note ol,
.doc-note div {
  color: #01579b;
}

.doc-note::before {
  font: normal normal normal 24px/1 Material Icons;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  margin-left: -36px;
  content: "star";
  float: left;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

.doc-note ul li {
  color: #01579b;
}

.doc-note a {
  color: #01579b;
  text-decoration: underline;
  background: #e1f5fe;
}

.doc-note a::after {
  font: normal normal normal 24px/1 Material Icons;
  content: "open_in_new";
  font-size: 18px;
  margin-inline: 4px;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: text-bottom;
}

.doc-note > p:last-child {
  margin-bottom: 0;
}

.doc-warning {
  display: block;
  font-size: 14px;
  border-radius: 4px;
  margin: 32px 0;
  color: #bf360c;
  background: #feefe3;
  padding: 16px 24px 16px 60px;
}

.doc-warning p,
.doc-warning ul,
.doc-warning li,
.doc-warning ol,
.doc-warning div {
  color: #bf360c;
}

.doc-warning::before {
  font: normal normal normal 24px/1 Material Icons;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  margin-left: -36px;
  content: "warning";
  float: left;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

.doc-warning ul li {
  color: #bf360c;
}

.doc-warning strong {
  color: #bf360c;
}

.doc-warning a {
  color: #bf360c;
  text-decoration: underline;
  background: #e1f5fe;
}

.doc-warning a::after {
  font: normal normal normal 24px/1 Material Icons;
  content: "open_in_new";
  font-size: 18px;
  margin-inline: 4px;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: text-bottom;
}

.doc-warning > p:last-child {
  margin-bottom: 0;
}

.doc-api-code {
  display: block;
  font-size: 14px;
  border-radius: 4px;
  margin: 32px 0;
  /* color: #20019b; */
  background: #e1fee7;
  border-left: 8px solid rgb(44, 139, 53);
  padding: 16px 24px 16px 60px;
}

/* .doc-api-code p,
.doc-api-code ul,
.doc-api-code li,
.doc-api-code ol,
.doc-api-code div {
  color: #20019b;
}

.doc-api-code::before {
  font: normal normal normal 24px/1 Material Icons;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  margin-left: -36px;
  content: "star";
  float: left;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
} 

.doc-api-code ul li {
  color: #01579b;
} */

.doc-api-code a {
  color: #20019b;
  text-decoration: underline;
  /* background: #e1f5fe; */
}

.doc-api-code a::after {
  font: normal normal normal 24px/1 Material Icons;
  content: "open_in_new";
  font-size: 18px;
  margin-inline: 4px;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: text-bottom;
}

/* .doc-api-code > p:last-child {
  margin-bottom: 0;
} */

.doc-code {
  border: 1px solid #e8eaed;
  border-radius: 8px;
  clear: both;
  direction: ltr !important;
  display: block;
  margin: 32px 0;
  overflow: hidden;
  position: relative;
}

.doc-code-buttons-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  margin-top: 4px;
}

.doc-code-buttons-container button {
  display: inline;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

/* .doc-code-buttons-container button:first-child::before {
    font: normal normal normal 24px/1 Material Icons;
    content: "brightness_medium";
    font-size: 18px;
    margin-inline: 4px;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-transform: none;
    vertical-align: text-bottom;
  } */

.doc-code-buttons-container .copy-button::before {
  font: normal normal normal 24px/1 Material Icons;
  content: "content_copy";
  font-size: 18px;
  margin-inline: 4px;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: text-bottom;
}

.doc-terminal {
  background: #f8f9fa;
  color: #37474f;
  padding: 24px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  text-align: left;
  direction: ltr;
  overflow-x: auto;
  position: relative;
}

/* .doc-terminal::before {
  color: #bdc1c6;
  content: "$";
  padding-right: 8px;
} */

.doc-terminal::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.doc-terminal::-webkit-scrollbar-thumb {
  background: #d4d7d9;
  border-radius: 8px;
}

.doc-terminal code {
  font-weight: 400;
  word-break: normal;
}

.doc-terminal-output {
  background: #f8f9fa;
  color: #37474f;
  padding: 24px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  text-align: left;
  direction: ltr;
  overflow-x: auto;
  position: relative;
}

.doc-terminal-output::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.doc-terminal-output::-webkit-scrollbar-thumb {
  background: #d4d7d9;
  border-radius: 8px;
}

.doc-terminal-output code {
  font-weight: 400;
  word-break: normal;
}

.table-container {
  margin: 32px 0;
  overflow: auto;
}

.table-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #d4d7d9;
  border-radius: 8px;
}

.table-container table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  color: #202134;
  margin: 0;
  width: 100%;
  font-size: 14px;
  font-family: "Roboto";
}

.table-container table tr {
  border: none;
  background: transparent;
  border-bottom: 1px solid #dadce0;
}

.table-container table tr:first-child {
  border: 1px solid #dadce0;
  text-align: left;
  border-inline: none;
}

.table-container table th {
  vertical-align: middle;
  font-size: 14px;
  font-family: "Roboto";
  padding: 1rem;
  height: 48px;
  color: black;
  font-weight: 500;
  background: #f1f3f4;
}

.table-container td {
  padding: 15px 16px 16px;
  background: rgba(255, 255, 255, 0.95);
  text-align: left;
  vertical-align: top;
}

.tab-shifter {
  display: flex;
  border-bottom: 1px solid #dadce0;
  flex: 1;
  margin: 0 0 35px;
  position: relative;
  height: 48px;
}

.tab-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.tab {
  display: flex;
  position: relative;
  flex-shrink: 0;
}

.tab span {
  display: flex;
  color: #5f6368;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0 18px;
  text-overflow: ellipsis;
  line-height: 48px;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  align-items: center;
  max-width: 200px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  user-select: none;
  font-family: "Roboto";
  word-break: break-all;
}

.tab span:hover::after {
  height: 3px;
  background: #5f6368;
  border-radius: 3px 3px 0 0;
  bottom: 0;
  left: 0;
  width: 60%;
  margin: 0 auto;
  right: 0;
  content: "";
  display: block;
  position: absolute;
}

.tab span.active {
  color: rgb(26, 115, 232);
}

.tab span.active::after {
  height: 3px;
  background: rgb(26, 115, 232);
  border-radius: 3px 3px 0 0;
  bottom: 0;
  left: 0;
  width: 60%;
  margin: 0 auto;
  right: 0;
  content: "";
  display: block;
  position: absolute;
}
