code {
  font-family: "Roboto Mono";
}

.main-container {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  /* margin-top: 156.979px; */
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.container {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: minmax(269px, 1fr) minmax(752px, 1200px) minmax(
      160px,
      1fr
    );
  grid-template-rows: 1fr;
  position: relative;
  width: 100%;
}

.article-content {
  align-self: start;
  grid-column: 2;
  display: block;
  position: relative;
  grid-row: 1;
  margin: 24px 0;
  max-width: 1200px;
  min-width: 0;
}

.article {
  /* border: 1px solid #dadce0; */
  background: #fff;
  border-radius: 8px;
  padding: 40px;
}

.article-body {
  margin-top: 16px;
  line-height: 24px;
}

.article-title {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 40px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  color: #000;
  letter-spacing: -0.5px;
  margin-inline-end: 83px;
  vertical-align: middle;
}

.article-body h1,
.article-body h2,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6 {
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

.article-body h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin: 56px 0 16px;
}

.article-body h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin: 32px 0 16px;
}

.article-body h4 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  margin: 32px -40px 16px 0;
  padding-right: 40px;
}

.article-body p {
  color: #202124;
  font-size: 15px;
  line-height: 24px;
  margin: 16px 0;
}

.article-body > p:first-child {
  margin-bottom: 28px;
}

.article-body ul {
  margin: 0;
  padding-left: 40px;
  list-style: disc outside;
}

.article-body ol {
  padding-left: 40px;
  list-style: decimal outside;
}

.article-body ul li,
.article-body ol li {
  margin: 12px 0;
  line-height: 20px;
  font-size: 15px;
  color: #202124;
}

.article-body strong {
  font-weight: 700;
}

.article-body img {
  height: auto;
  max-width: 100%;
}

.article-body a {
  color: #1769e0;
  word-break: break-all;
  text-decoration: none;
  outline: none;
}

.article-body a.external::after {
  font: normal normal normal 24px/1 Material Icons;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  content: "open_in_new";
  font-size: 18px;
  margin-block: 0;
  margin-inline: 4px 0;
  vertical-align: text-bottom;
}

.article-body pre {
  background: #f8f9fa;
  color: #37474f;
  padding: 24px;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  text-align: left;
  direction: ltr;
  overflow-x: auto;
  position: relative;
}

/* .article-body pre code {
    font-size: 15px;
    background: #f8f9fa;
    font-family: "Roboto Mono", monospace;
    overflow-x: unset;
    padding: 0 !important;
  }*/

.article-body pre::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.article-body pre::-webkit-scrollbar-thumb {
  background: #d4d7d9;
  border-radius: 8px;
}

.doc-note {
  display: block;
  font-size: 14px;
  border-radius: 4px;
  margin: 32px 0;
  color: #01579b;
  background: #e1f5fe;
  padding: 16px 24px 16px 60px;
}

.doc-note p,
.doc-note ul,
.doc-note li,
.doc-note ol,
.doc-note div {
  color: #01579b;
}

.doc-note::before {
  font: normal normal normal 24px/1 Material Icons;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  margin-left: -36px;
  content: "star";
  float: left;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

.doc-note ul li {
  color: #01579b;
}

.doc-note a {
  color: #01579b;
  text-decoration: underline;
  background: #e1f5fe;
}

.doc-note a::after {
  font: normal normal normal 24px/1 Material Icons;
  content: "open_in_new";
  font-size: 18px;
  margin-inline: 4px;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: text-bottom;
}

.doc-note > p:last-child {
  margin-bottom: 0;
}

.doc-warning {
  display: block;
  font-size: 14px;
  border-radius: 4px;
  margin: 32px 0;
  color: #bf360c;
  background: #feefe3;
  padding: 16px 24px 16px 60px;
}

.doc-warning p,
.doc-warning ul,
.doc-warning li,
.doc-warning ol,
.doc-warning div {
  color: #bf360c;
}

.doc-warning::before {
  font: normal normal normal 24px/1 Material Icons;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  margin-left: -36px;
  content: "warning";
  float: left;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

.doc-warning ul li {
  color: #bf360c;
}

.doc-warning strong {
  color: #bf360c;
}

.doc-warning a {
  color: #bf360c;
  text-decoration: underline;
  background: #e1f5fe;
}

.doc-warning a::after {
  font: normal normal normal 24px/1 Material Icons;
  content: "open_in_new";
  font-size: 18px;
  margin-inline: 4px;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: text-bottom;
}

.doc-warning > p:last-child {
  margin-bottom: 0;
}

.doc-api-code {
  display: block;
  font-size: 14px;
  border-radius: 4px;
  margin: 32px 0;
  /* color: #20019b; */
  background: #e1fee7;
  border-left: 8px solid rgb(44, 139, 53);
  padding: 16px 24px 16px 60px;
}

/* .doc-api-code p,
.doc-api-code ul,
.doc-api-code li,
.doc-api-code ol,
.doc-api-code div {
  color: #20019b;
}

.doc-api-code::before {
  font: normal normal normal 24px/1 Material Icons;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  margin-left: -36px;
  content: "star";
  float: left;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
} 

.doc-api-code ul li {
  color: #01579b;
} */

.doc-api-code a {
  color: #20019b;
  text-decoration: underline;
  /* background: #e1f5fe; */
}

.doc-api-code a::after {
  font: normal normal normal 24px/1 Material Icons;
  content: "open_in_new";
  font-size: 18px;
  margin-inline: 4px;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: text-bottom;
}

/* .doc-api-code > p:last-child {
  margin-bottom: 0;
} */

.doc-code {
  border: 1px solid #e8eaed;
  border-radius: 8px;
  clear: both;
  direction: ltr !important;
  display: block;
  margin: 32px 0;
  overflow: hidden;
  position: relative;
}

.doc-code-buttons-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  margin-top: 4px;
}

.doc-code-buttons-container button {
  display: inline;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

/* .doc-code-buttons-container button:first-child::before {
    font: normal normal normal 24px/1 Material Icons;
    content: "brightness_medium";
    font-size: 18px;
    margin-inline: 4px;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-transform: none;
    vertical-align: text-bottom;
  } */

.doc-code-buttons-container .copy-button::before {
  font: normal normal normal 24px/1 Material Icons;
  content: "content_copy";
  font-size: 18px;
  margin-inline: 4px;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: text-bottom;
}

.doc-terminal {
  background: #f8f9fa;
  color: #37474f;
  padding: 24px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  text-align: left;
  direction: ltr;
  overflow-x: auto;
  position: relative;
}

/* .doc-terminal::before {
  color: #bdc1c6;
  content: "$";
  padding-right: 8px;
} */

.doc-terminal::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.doc-terminal::-webkit-scrollbar-thumb {
  background: #d4d7d9;
  border-radius: 8px;
}

.doc-terminal code {
  font-weight: 400;
  word-break: normal;
}

.doc-terminal-output {
  background: #f8f9fa;
  color: #37474f;
  padding: 24px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  text-align: left;
  direction: ltr;
  overflow-x: auto;
  position: relative;
}

.doc-terminal-output::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.doc-terminal-output::-webkit-scrollbar-thumb {
  background: #d4d7d9;
  border-radius: 8px;
}

.doc-terminal-output code {
  font-weight: 400;
  word-break: normal;
}

.table-container {
  margin: 32px 0;
  overflow: auto;
}

.table-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background: #d4d7d9;
  border-radius: 8px;
}

.table-container table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  color: #202134;
  margin: 0;
  width: 100%;
  font-size: 14px;
  font-family: "Roboto";
}

.table-container table tr {
  border: none;
  background: transparent;
  border-bottom: 1px solid #dadce0;
}

.table-container table tr:first-child {
  border: 1px solid #dadce0;
  text-align: left;
  border-inline: none;
}

.table-container table th {
  vertical-align: middle;
  font-size: 14px;
  font-family: "Roboto";
  padding: 1rem;
  height: 48px;
  color: black;
  font-weight: 500;
  background: #f1f3f4;
}

.table-container td {
  padding: 15px 16px 16px;
  background: rgba(255, 255, 255, 0.95);
  text-align: left;
  vertical-align: top;
}

.tab-shifter {
  display: flex;
  border-bottom: 1px solid #dadce0;
  flex: 1;
  margin: 0 0 35px;
  position: relative;
  height: 48px;
}

.tab-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.tab {
  display: flex;
  position: relative;
  flex-shrink: 0;
}

.tab span {
  display: flex;
  color: #5f6368;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0 18px;
  text-overflow: ellipsis;
  line-height: 48px;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  align-items: center;
  max-width: 200px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  user-select: none;
  font-family: "Roboto";
  word-break: break-all;
}

.tab span:hover::after {
  height: 3px;
  background: #5f6368;
  border-radius: 3px 3px 0 0;
  bottom: 0;
  left: 0;
  width: 60%;
  margin: 0 auto;
  right: 0;
  content: "";
  display: block;
  position: absolute;
}

.tab span.active {
  color: rgb(26, 115, 232);
}

.tab span.active::after {
  height: 3px;
  background: rgb(26, 115, 232);
  border-radius: 3px 3px 0 0;
  bottom: 0;
  left: 0;
  width: 60%;
  margin: 0 auto;
  right: 0;
  content: "";
  display: block;
  position: absolute;
}

.expand-container > li:first-child {
  border-top: 0;
  padding-top: 0;
}

/* Header Styles */

header {
  contain: layout;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  z-index: 1006;
}

.header-wrapper {
  background: #fff;
  pointer-events: all;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #dadce0;
}

.top-header-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  height: 48px;
  padding: 0 16px 0 24px;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.logo-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  pointer-events: all;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 36px;
  margin: 6px 0;
}

.logo-link {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* .logo {

No additional styling for now

} */

.skid-row {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}

.skid-row-upper-tabs {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -moz-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  margin-left: 8px;
  opacity: 1;
  position: relative;
  z-index: 8;
}

.skid-row-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 48px;
  position: relative;
  max-width: none;
}

.skid-row-tabs nav {
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  /* overflow: hidden; */
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
}

.skid-row-tabs > nav > tab {
  display: flex;
  flex-shrink: 0;
  position: relative;
}

.skid-row-tabs > nav > tab > a {
  color: #5f6368;
  font-weight: 500;
  text-decoration: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  font: 600 14px/20px Raleway;
  letter-spacing: 0.25px;
  margin: 0;
  padding: 0 24px;
  transition: color 0.2s;
  white-space: nowrap;
}

.srt:hover {
  color: #202124;
}

.srt:hover::after {
  height: 3px;
  background: #5f6368;
  border-radius: 3px 3px 0 0;
  bottom: 0;
  left: 0;
  width: 60%;
  margin: 0 auto;
  right: 0;
  content: "";
  display: block;
  position: absolute;
}

.dropdown-tab {
  display: flex;
  -webkit-box-flex: 1;
  /* -webkit-flex-grow: 1; */
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-shrink: 0;
  /* flex-grow: 1; */
  position: relative;
}

.dropdown-tab-text {
  color: #5f6368;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: relative;
}

.dropdown-tab-text::before {
  font: normal normal normal 24px/1 Material Icons;
  color: #5f6368;
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  content: "arrow_drop_down";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: transform 0.2s;
  text-transform: none;
  word-wrap: normal;
}

.dropdown-tab-text.active::before {
  transform: rotate(180deg);
}

.dropdown-menu {
  background: #fff;
  -webkit-box-orient: vertical;
  max-height: 320px;
  overflow-y: auto;
  padding: 16px 0;
  position: absolute;
  pointer-events: none;
  display: block;
  transform: translate3d(0, -150%, 0);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 1px 2px 0 #3c40434d, 0 2px 6px 2px #3c404326,
    inset 0 4px 6px -4px #9ba1a680;
  top: 48px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  z-index: -1;
}

.dropdown-menu.active {
  display: flex;
  pointer-events: all;
  flex-direction: column;
  border-top: 1px solid #dadce0;
  transform: translateZ(0);
}

.dropdown-menu > tab {
  display: flex;
  position: relative;
}

.dropdown-menu > tab > a {
  background: #fff;
  display: flex;
  position: relative;
  align-items: center;
  color: #5f6368;
  -webkit-box-orient: horizontal;
  text-decoration: none;
  font: 600 14px/20px Raleway;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 48px;
  padding: 0 24px;
}

.dropdown-menu a:hover {
  background: #f1f3f4;
  color: #202124;
}

.bangdb-search {
  border-radius: 2px;
  display: inline-block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: var(--devsite-search-height);
  margin: 6px 0 6px 24px;
  overflow: hidden;
  position: relative;
  text-align: left;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  vertical-align: top;
  width: 200px;
  will-change: transition;
  z-index: 10;
}

.download {
  display: flex;
  flex: 0 0 auto;
}

.download-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.download-wrapper a {
  text-decoration: none;
  color: #1769e0;
  padding: 0 24px;
  font: 600 14px/20px Raleway;
}

/* Searchbar styles */

.search-wrapper-wrapper {
  max-width: 650px;
  margin: 25px auto;
  width: 100%;
}

.search-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.s-input {
  border: 0;
  border-radius: 3px;
  font: 400 14px/20px Roboto;
  height: 40px;
  line-height: normal;
  padding: 1rem 6rem 1rem 1rem;
  display: block;
  color: #202124;
  transition: all 0.15s ease-out;
  width: 100%;
  text-align: left;
  background: #f5f8fa;
}

.s-input:focus {
  outline: 0;
  border: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search-button {
  display: flex;
  align-items: center;
  bottom: 1px;
  cursor: pointer;
  height: 40px;
  pointer-events: all;
  position: absolute;
  width: 80px;
  right: 0;
  top: 0;
}

.search-button::after {
  font: normal normal normal 18px/1 Material Icons;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  content: "search";
  vertical-align: text-bottom;
  color: #073042;
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 26px;
  margin-right: 20px;
}

/* Search page styles */

.bangdb-search {
  display: flex;
  flex-direction: column;
  max-width: 1380px;
  margin-bottom: 40px !important;
  padding: 0 0 0 36px;
  margin: 50px auto 40px auto;
  width: 100%;
}

.search-results-stats {
  padding-top: 22px;
}

.search-results-stats span {
  position: relative;
  color: #202124;
  top: 10px;
  line-height: 90px;
}

.search-results-wrapper {
  padding-right: 20px;
}

.search-result {
  margin-bottom: 25px;
}

.search-result a {
  text-decoration: none;
}

.search-result h3 {
  font-family: Roboto, sans-serif;
  margin: 0 0 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #1769e0;
  text-shadow: 0 0 1px transparent;
}

.search-result p {
  font-size: 14px;
  color: #202124;
  margin: 0 0 5px;
}

@media screen and (max-width: 850px) {
  .container {
    display: block;
    min-width: 100%;
  }

  .article-content {
    margin: 0;
  }

  .article {
    border-radius: 0;
    box-shadow: none;
    padding: 24px;
  }
}

@media screen and (max-width: 670px) {
  .article-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 450px) {
  .article-title {
    font-size: 28px;
  }

  .article-body h2 {
    font-size: 20px;
  }
}
