* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none !important;
}

a,
li {
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
